.goods {
  overflow: hidden;

  .swiper {
    width: 750 rpx;
    height: 750 rpx;
    position: relative;

    .swiper-container {
      width: 750 rpx;
      height: 750 rpx;

      image {
        width: 750 rpx;
        height: 750 rpx;
      }
    }

    .share {
      position: absolute;
      border-radius: 40 rpx 0 0 40 rpx;
      width: 150 rpx;
      height: 65 rpx;
      line-height: 65 rpx;
      text-align: center;
      right: 0;
      top: 50 rpx;
      background: #e0a354;
      color: #fff;
      font-size: 24 rpx;
    }
  }

  .swiper-b {
    width: 710 rpx;
    height: 73 rpx;
    margin: 0 auto;
    background: #f4f4f4; // padding: 0 31.25rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      background: url('http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png') 0 center no-repeat;
      background-size: 10 rpx;
      padding-left: 15 rpx;
      display: flex;
      align-items: center;
      font-size: 25 rpx;
      color: #666;
    }
  }

  .goods-info {
    width: 750 rpx;
    height: 306 rpx;
    background: #fff;
    margin: 0 auto;
    border-bottom: 1 rpx solid #f4f4f4;

    .c {
      height: 100%;

      p {
        display: block;
        text-align: center;
      }

      p:nth-child(1) {
        font-size: 41 rpx;
        padding: 20 rpx;
      }

      p:nth-child(2) {
        margin-bottom: 25 rpx;
        font-size: 24 rpx;
        color: #999;
      }

      p:nth-child(3) {
        margin-top: 10 rpx;
        font-size: 35 rpx;
        color: #b4282d;
      }

      .brand {
        margin-top: 25 rpx;
        text-align: center;

        p {
          display: inline-block;
          color: #b1a279;
          font-size: 20 rpx;
          padding: 5 rpx 30 rpx;
          border: 1 rpx solid #b1a279;
        }
      }
    }
  }

  .section-nav {
    height: 108 rpx;
    background: #fff;
    margin-bottom: 20 rpx;
    padding: 0 20 rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:nth-child(2) {
      width: 52 rpx;
      height: 52 rpx;
      background: url("'baseUrl' + static/images/address_right.png") no-repeat;
      background-size: 100% 100%;
    }
  }

  .attribute {
    padding: 20 rpx 30 rpx;
    background: #fff;
    margin-bottom: 20 rpx;

    .head {
      font-size: 38 rpx;
      padding: 20 rpx 0;
    }

    .item {
      display: flex;
      background: #f7f7f7;
      padding: 20 rpx 0;
      margin: 20 rpx;

      div:nth-child(1) {
        width: 134 rpx;
        font-size: 25 rpx;
        color: #999;
      }

      div:nth-child(2) {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .common-problem {
    margin-bottom: 110 rpx;

    .h {
      padding: 35 rpx 0;
      background: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .line {
        display: inline-block;
        height: 1 rpx;
        width: 100 rpx;
        background: #ccc;
      }

      .title {
        padding: 0 25 rpx;
        background: #fff;
      }
    }

    .b {
      padding: 0 rpx 30 rpx;
      background: #fff;

      .item {
        padding-bottom: 25 rpx;

        .question-box {
          display: flex;

          .spot {
            height: 8 rpx;
            width: 8 rpx;
            background: #b4282d;
            border-radius: 50%;
            margin-top: 11 rpx;
          }

          .question {
            line-height: 30 rpx;
            padding-left: 8 rpx;
            display: block;
            font-size: 26 rpx;
            padding-bottom: 15 rpx;
            color: #303030;
          }
        }

        .answer {
          line-height: 40 rpx;
          padding-left: 16 rpx;
          font-size: 26 rpx;
          color: #787878;
        }
      }
    }

    .sublist {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 730 rpx;
      margin: 0 auto;

      div {
        width: 360 rpx;
        background: #fff;
        margin-bottom: 10 rpx;
        padding-bottom: 10 rpx;

        img {
          display: block;
          width: 302 rpx;
          height: 302 rpx;
          margin: 0 auto;
        }

        p {
          margin-bottom: 5 rpx;
          text-indent: 1em;
        }

        p:nth-child(2) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 98%;
        }

        p:nth-child(3) {
          color: #9c3232;
        }
      }

      .last {
        display: block;
        width: 302 rpx;
        height: 302 rpx;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        p {
          height: 33 rpx;
          width: 100%;
          line-height: 33 rpx;
          color: #333;
          font-size: 33 rpx;
          text-align: center;
        }

        .icon {
          display: inline-block;
          width: 70 rpx;
          height: 70 rpx;
          background: url("'baseUrl' + static/images/rightbig.png") no-repeat;
          background-size: 100% 100%;
          margin-top: 60 rpx;
        }
      }

      div:nth-child(2n) {
        margin-left: 10 rpx;
      }
    }
  }

  .pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .attr-pop {
    position: fixed;
    width: 100%;
    height: 500 rpx;
    bottom: -500rpx;
    transition: all 400ms ease;
    box-sizing: border-box;
    padding: 30 rpx;
    background: #fff;

    .top {
      display: flex;
      margin-bottom: 35 rpx;
      position: relative;

      .close {
        position: absolute;
        right: 0;
        top: 0px;
        font-size: 30 rpx;
        color: #999;
      }

      .left {
        height: 177 rpx;
        width: 177 rpx;
        margin-right: 30 rpx;

        img {
          float: left;
          height: 177 rpx;
          width: 177 rpx;
        }
      }

      .right {
        flex: 1;
        display: flex;
        align-items: flex-end;

        p {
          width: 100%;
          line-height: 45 rpx;
        }

        p:nth-child(1) {
          color: #b4282d;
        }
      }
    }

    .b {
      .count {
        width: 322 rpx;
        height: 71 rpx;
        line-height: 71 rpx;
        display: flex;
        border: 1 rpx solid #ccc;
        margin-top: 20 rpx;

        div {
          width: 90 rpx;
          text-align: center;
        }

        input {
          flex: 1;
          height: 100%;
          text-align: center;
          border-left: 1 rpx solid #ccc;
          border-right: 1 rpx solid #ccc;
        }
      }
    }
  }

  .fadeup {
    transform: translateY(-500rpx); // transition: all 0.4s ease;
  }

  .bottom-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 750 rpx;
    height: 100 rpx;
    display: flex;
    background: #fff;
    z-index: 10;

    .home_btn {
      height: 100 rpx;
      width: 50%;
      border: 1 rpx solid #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        display: block;
        height: 44 rpx;
        width: 44 rpx;
        background: url("'baseUrl' + static/images/home.png") no-repeat;
        background-size: 100% 100%;
        border: none;
      }
    }

    div:nth-child(2) {
      height: 100 rpx;
      width: 50%;
      border: 1 rpx solid #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: center;

      .collect {
        display: block;
        height: 44 rpx;
        width: 44 rpx;
        background: url("'baseUrl' + static/images/icon_collect.png") no-repeat;
        background-size: 100% 100%;
        border: none;
      }

      .collect.active {
        display: block;
        height: 44 rpx;
        width: 44 rpx;
        background: url("'baseUrl' + static/images/icon_collect_checked.png") no-repeat;
        background-size: 100% 100%;
        border: none;
      }
    }

    div:nth-child(4) {
      height: 100 rpx;
      line-height: 96 rpx;
      flex: 1;
      text-align: center;
      color: #333;
      border-top: 1 rpx solid #f4f4f4;
      border-bottom: 1 rpx solid #f4f4f4;
    }

    div:nth-child(5) {
      border: 1 rpx solid #b4282d;
      background: #b4282d;
      float: left;
      height: 100 rpx;
      line-height: 96 rpx;
      flex: 1;
      text-align: center;
      color: #fff;
    }
  }
}
